src/main/mule/demos/rest/demo-02.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="demo-02-insert-flow" doc:id="05c7210e-33ea-4d58-a5b8-9600de1dd4af" >
		<set-variable value="Account" doc:name="objectName" doc:id="324e630a-cac8-4e6c-9c66-2a67b7f746d2" variableName="objectName" />
		<flow-ref doc:name="realiza-autenticacao-sfdc" doc:id="4de321bf-b0ed-4924-94b2-c22b36f4fcfa" name="demo-01-rest-flow" target="sfdc_token" targetValue="#[payload.access_token]" />
		<ee:transform doc:name="build-body" doc:id="ef14a532-ffec-4438-a719-532a52259535" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Name" : vars.requestPayload.nome,
	"AccountNumber" : vars.requestPayload.numero_conta
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="request-sfdc-endpoint" doc:id="56589dfd-ac77-44d8-9361-15fa1f532667" config-ref="SFDC_ENDPOINT" path="${sfdc.endpoint.basepath}${sfdc.endpoint.version}${sfdc.endpoint.path.insert}{object_name}" >
			<http:headers ><![CDATA[#[{
	Authorization: "Bearer " ++ vars.sfdc_token
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
	object_name: vars.objectName
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
