src/main/mule/demos/rest/demo-01.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="demo-01-rest-flow"
		doc:id="beff3d23-4e52-48f9-a122-0996a9380da4">
		<ee:transform doc:name="Build Object Login"
			doc:id="29ab8143-90d9-4048-8c30-9dd6ecf6266e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	grant_type : "password",
	client_id : p("sfdc.auth.client_id"),
	client_secret : p("sfdc.auth.client_secret"),
	username : p("sfdc.auth.username"),
	password : p("sfdc.auth.password_and_token")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method='POST' doc:name="Request SFDC REST"
			doc:id="cb992e0d-eebc-4739-a3b2-d190aa0bd89a"
			path="/services/oauth2/token" config-ref="SFDC_AUTH" sendBodyMode="NEVER">
			<http:body><![CDATA[#[{}]]]></http:body>
			<http:query-params><![CDATA[#[payload]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message"
			doc:id="532778df-97c1-462a-ad44-f73afb484511">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	access_token: payload.access_token
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="demo-01-soap-flow"
		doc:id="2872faa9-8d45-4aa0-8c5c-967e92e680f0">
		<ee:transform doc:name="Transform Message"
			doc:id="93581553-ac89-4268-adc6-f848df9b2aff">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/xml
ns n1 urn:partner.soap.sforce.com
ns env http://schemas.xmlsoap.org/soap/envelope/
---
env#Envelope: {
    env#Body: {
        n1#login: {
            n1#username: p('sfdc.auth.username'),
            n1#password: p('sfdc.auth.password') ++ p('sfdc.auth.security_token')
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request SFDC SOAP"
			doc:id="5c4d6c26-210c-425f-9abd-ce83edfa5ffc"
			path="/services/Soap/u/50.0" config-ref="SFDC_AUTH">
			<http:headers><![CDATA[#[{
	SOAPAction: "login",
	"Content-Type": "text/xml"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message"
			doc:id="8214cf15-bdcc-4a1a-977e-0ce8fe55b302">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	access_token: payload.Envelope.Body.loginResponse.result.sessionId
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
