src/main/mule/demos/rest/demo-02.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="demo-02-insert-flow"
		doc:id="beff3d23-4e52-48f9-a122-0996a9380da4">
		<set-variable value="Account" doc:name="objectName" doc:id="b8afd9c1-8b74-4799-b314-a3f148a7f758" variableName="objectName"/>
		<flow-ref doc:name="realiza-autenticacao-sfdc" doc:id="f5520bb5-c3ee-46c2-8b97-0307004f577c" name="demo-01-rest-flow" target="sfdc_token" targetValue="#[payload.access_token]"/>
		
		<ee:transform 
		doc:name="build-body" 
		doc:id="b81bc3fb-d488-4a10-b9c7-f5e3fc0a9e29" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Name" : vars.requestPayload.nome,
	"AccountNumber" : vars.requestPayload.numero_conta
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method='POST' doc:name="request-sfdc-endpoint"
			doc:id="cb992e0d-eebc-4739-a3b2-d190aa0bd89a"
			path="${sfdc.endpoint.basepath}${sfdc.endpoint.version}${sfdc.endpoint.path.insert}{object_name}" config-ref="SFDC_ENDPOINT">
			<http:headers ><![CDATA[#[{
	Authorization: "Bearer " ++ vars.sfdc_token
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
	object_name: vars.objectName
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
