src/main/mule/specs.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="specs-rest" doc:id="2b48b2b4-3142-425b-b350-803a38633a16" >
		<http:listener doc:name="Listener Rest" doc:id="99e6efb5-bd68-4995-b87c-bce7e8c6ba3f" config-ref="HTTP_Listener_config" path="rest/*"/>
		<set-variable value="#[payload]" doc:name="requestPayload" doc:id="bd75259c-3477-4b3b-9b74-79db78153a71" variableName="requestPayload"/>
		<apikit:router doc:name="APIkit Router Rest" doc:id="1c70f0de-d1db-4d35-9444-5e4627c9d3aa" config-ref="RouterRest"/>
	</flow>
	<flow name="specs-components" doc:id="1cde6eb5-8679-4a0a-b559-d49347129fec" >
		<http:listener doc:name="Listener Components" doc:id="0188160f-4ba8-4607-bc24-573af6c63196" config-ref="HTTP_Listener_config" path="component/*"/>
		<set-variable value="#[payload]" doc:name="requestPayload" doc:id="7d819089-7abb-45dd-9996-75ffb2555f4f" variableName="requestPayload" />
		<apikit:router doc:name="APIkit Router Components" doc:id="ccb37a38-8383-4d8e-8ab5-36c59dc3be28" config-ref="RouterComponents"/>
	</flow>
</mule>
